<div class ='row' >
  <% if current_user.group_id == 1  && !current_user.admin %>
        <h1>You are not a member of any group. Sorry ...</h1>
  <% else %>
        <table class="table-striped">
          <tr>
            <th width="50%">Задача</th>
            <th width="40%">В группе</th>
            <th width="10%">Контрольная дата</th>
           </tr>

        <% @tasks.each do |item|%>
            <tr>
              <td width="50%">
                <%= item.name %>
              </td>

              <td width="40%">
                  <% if current_user.id == 1  %>
                      <% if item.group_id == 1 %>
                          <%= link_to 'Назначить группе', edit_task_path(item.id) %>
                      <% else %>
                        <strong><%= item.group.name %></strong>
                      <% end %>
                  <% else %>
                    <%= link_to 'Отметить как выполненное', "#" %>
                  <% end %>
              </td>

              <td width="10%">
                <%= item.deadline %>
              </td>
            </tr>
        <% end %>
        </table>
  <% end %>
</div>
