<div class="row">
  <%= form_for @task, :html => {:class => "form-group center"} do |f|%>
      <%= f.label :name, 'Task name', class: 'label label-default lbl-my-style' %>
      <%= f.text_field :name, disabled: true, class: 'form-control' %>

      <%= f.label :description, 'Description', class: 'label label-default lbl-my-style' %>
      <%= f.text_area :description, size: '10x10', disabled: true, class: 'form-control' %>

      <%= f.label :deadline, 'Deadline', class: 'label label-default lbl-my-style' %>
      <%= f.date_field :deadline, class: 'form-control' %>

      <%= f.label :group_id, 'Group name', class: 'label label-default lbl-my-style' %>
      <%= f.select(:group_id, @list_of_groups, {}, class: "form-control")  %>

      <%= f.submit_tag 'Assign task', class: "btn btn-success" %>
  <% end %>
</div>

