<div class="row">
  <%= form_for @group, :html => {:class => "form-group center"} do |f|%>
      <%= f.label :name, 'Group name', class: 'label label-default lbl-my-style' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.submit 'Create new', class: "btn btn-success" %>
  <% end %>
</div>

<%= render partial: 'list_all_groups' %>