<div class="row">
  <%= form_for @user do |f| %>
      <div class="col-md-6  shifted">
          <%= f.label 'User name', class: 'label label-default lbl-my-style' %>
          <%= f.text_field :name, disabled: true, class: 'form-control' %>
      </div>
      <div class="col-md-6  shifted">
          <%= f.label 'email', class: 'label label-default lbl-my-style' %>
          <%= f.text_field :email, disabled: true, class: 'form-control' %>
      </div>
      <div class="col-md-12">
          <%= f.label :group_id, 'Group name', class: 'label label-default lbl-my-style' %>
          <%= f.select(:group_id, @list_of_groups, {}, class: "form-control")  %>

          <%= f.submit 'Change group', class: "btn btn-success" %>
      </div>
  <% end %>
</div>
