<div>
  <%= form_for @user do %>
      <%= label_tag 'User name' %>
      <%= text_field :user, :email, disabled: true %>

      <%= label_tag 'Group name' %>
      <%= select_tag :group_id, options_for_select(@list_of_groups, @user.group_id)  %>

      <%= submit_tag 'Change group' %>
  <% end %>
</div>
